@import "./utils/mixins";
@import "./utils/important";
@import "./utils/variables";

@import "./components/agencja-portfolio";
@import "./components/service-button";
@import "./components/card-set";
@import "./components/clients-section";
@import "./components/footer";
@import "./components/header-contact";
@import "./components/join-us";
@import "./components/modal";
@import "./components/overlay";
@import "./components/portfolio-card";
@import "./components/section1";
@import "./components/singup";
@import "./components/skills";
@import "./components/social-icons";
@import "./components/social-list";
@import "./components/team";
@import "./components/logo";
@import "./components/navig";
@import "./components/mobile-menu";
