.card__set-text {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.card__set-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.card__set-icons {
  all: unset;
  display: flex;
  justify-content: center;
  background-color: var(--third-background);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.card__set {
  display: flex;
  list-style: none;
  gap: 30px;
}
.card__set-list {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
