.clients__section {
  background-color: var(--first-background);
  padding-bottom: 94px;
  text-align: center;
  margin-top: 94px;
}
.clients__section-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 20px;
  gap: 30px;
}

.clients__section-icon {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  fill: var(--color-social);
  border: 1px solid var(--color-social);
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% / 2 - 30px);
  @include tablet {
    width: calc(100% / 3 - 30px);
  }
  @include desktop {
    width: calc(100% / 6 - 30px);
  }
}

.clients__section-icon:hover,
.clients__section-icon:focus {
  border-color: var(--web-color);
  cursor: pointer;
}

.clients__section-icon:hover,
.clients__section-icon:focus {
  fill: var(--web-color);
}
