.footer {
  background: var(--second-background);
  color: var(--first-background);
  padding: 60px 0;
}
.footer__parent {
  display: block;
  text-align: center;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
  }
}
.footer__child {
  @include desktop {
    margin-left: 30px;
  }
}

.footer__contact {
  color: var(--footer-contact);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress {
  display: block;
  width: 100%;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20;
  @include desktop {
    width: 246px;
  }
}

.footer__contact:focus,
.footer__contact:hover {
  color: var(--first-background);
}
