body {
  font-family: "Roboto", sans-serif;
  background: var(--first-background);
  color: var(--brand-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 480px;
  margin: 0px auto;

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

header {
  border-bottom: var(--border-header) 1px solid;
  margin-left: 15px;
  margin-right: 15px;
}
