.modal {
  position: absolute;
  top: 221px;
  left: 35%;
  width: 450px;
  min-height: 609px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  background-color: var(--modal);
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: var(--backdrop-border);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  z-index: 2;
}
.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--modal);
  border: 1px solid var(--backdrop-border);
  border-radius: 50%;
  cursor: pointer;
}
.icon__close {
  width: 11px;
  height: 11px;
  fill: black;
}

.button__submit {
  position: relative;
  padding: 8px 72px 8px 42px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  background-color: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, border-color, tranform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal__label:focus-within,
.modal__icon svg,
.modal__label:hover svg {
  fill: var(--web-color);
  stroke: var(--web-color);
  border-color: var(--web-color);
}

.label__title {
  display: block;
  padding-top: 12px;
  color: var(--contact-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  top: 36px;
  left: 12px;
  cursor: text;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.modal__inputs {
  width: 100%;
  height: 40px;
  margin-inline: 0 40px;
  padding: 12px 45px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: text;
}

.modal__inputs:focus svg,
.modal__inputs:hover svg,
.modal__inputs:focus,
.modal__inputs:hover,
.modal__textarea:hover,
.modal__textarea:focus {
  border-color: var(--web-color);
  fill: var(--web-color);
  outline: none;
}

.modal__textarea {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  line-height: 1.66;
  padding-inline: 16px;
  padding-top: 12px;
  cursor: text;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.checkbox__group {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 30px;
}

.checkbox__input {
  display: block;
  appearance: none;
}
.checkbox__settings {
  display: flex;
  align-items: center;
}

.checkbox__icon-on {
  display: block;
  opacity: 0;
  position: absolute;
}

.checkbox__statement {
  margin-left: 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.checkbox__input:checked + .checkbox__settings .checkbox__icon-off {
  opacity: 0;
}

.checkbox__input:checked + .checkbox__settings .checkbox__icon-on {
  opacity: 1;
  background-color: var(--web-color);
}

.checkbox__link {
  color: var(--web-color);
  text-decoration: underline;
}

.modal__button {
  background-color: var(--web-color);
  width: 200px;
  margin-left: 120px;
  padding: 10px 74px;
  color: var(--first-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, border-color, tranform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal__button:focus,
.modal__button:hover {
  background-color: var(--web-color);
  border-color: var(--web-color);
  transform: scale(1.1);
}
