.navig__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--brand-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: hex(#0000ff);
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &:focus,
  &:hover {
    color: var(--web-color);
  }
}
.navig {
  display: flex;
  flex-grow: 1;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    margin-left: 83px;
    font-size: 12px;
    padding-right: 101px;
  }
  @include desktop {
    font-size: 14px;
  }
}

.navig__list {
  display: flex;
  gap: 46px;
  justify-content: space-between;
  list-style: none;
}
