.section1__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 480px;
  color: var(--first-background);
}
.section1 {
  display: flex;
  background-color: var(--second-background);
  max-width: 1600;
  height: 600px;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.6)
    ),
    url("./../Images/img-overlay.jpg");
  background-position: center;
  background-size: cover;
}
.order__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--web-color);
  box-shadow: rgba(0, 0, 0, 0.15);
  color: var(--first-background);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
}
