.singup {
  display: flex;
  width: 100%;
  color: var(--first-background);
  justify-items: center;
  margin-top: 60px;
  @include tablet {
    display: block;
    width: 450px;
  }
  @include desktop {
    margin-left: 78px;
    margin-top: 40px;
    align-items: baseline;
  }
}
.singup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
}
.singup__input {
  margin-top: 20px;
  background-color: var(--secondary-bacground-color);
  width: 356px;
  height: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-block: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
}
.icon__send {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--first-background);
}
.button__submit {
  position: relative;
  max-width: 200px;
  padding: 8px 72px 8px 42px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  background-color: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, border-color, tranform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
