.what-we-do {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.skills__images {
  display: flex;
  padding-bottom: 94px;
  justify-content: center;
  gap: 30px;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.discription__img {
  position: relative;
  width: 370px;
  height: 294px;
}
.discription__img-text {
  position: absolute;

  bottom: -15px;
  width: 100%;
  height: 70px;
  padding: 27px 90px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  color: var(--first-background);
  font-size: 14px;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
