.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-inline: 32px;
  margin-bottom: 30px;
  padding-left: 0px;
}
.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list-link:hover,
.social__list-link:focus {
  background-color: var(--web-color);
}
a.social__list-link:hover svg,
a.social__list-link:focus svg {
  fill: var(--first-background);
}
.social__list-icon {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--color-social);
}
