:root {
  --brand-color: #212121;
  --first-background: #ffffff;
  --second-background: #2f303a;
  --web-color: #2196f3;
  --contact-color: #757575;
  --third-background: #f5f4fa;
  --logo-color: #000000;
  --border-header: #ececec;
  --figcaption-portfolio: #eeeeee;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --color-social: #afb1b8;
  --backdrop-border: rgba(0, 0, 0, 0.1);
  --modal: #fff;
  --overlay: rgba(33, 150, 243, 0.9);
}
